
@{
    Layout = null;
}
@model wcfagain_client.ViewModels.ProductViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
   @using (Html.BeginForm("Edit", "Product"))
   {
       <table cellpadding="2" cellspacing="2">
           <tr>
               <td>@Html.LabelFor(m => m.Product.Id)</td>
               <td>
                   @Html.ValueFor(m => m.Product.Name)
                   @Html.TextBoxFor(m => m.Product.Name)
               </td>
           </tr>
           <tr>
               <td>@Html.LabelFor(m => m.Product.Name)</td>
               <td>@Html.TextBoxFor(m => m.Product.Name)</td>
           </tr>
           <tr>
               <td>@Html.LabelFor(m => m.Product.Price)</td>
               <td>@Html.TextBoxFor(m => m.Product.Price)</td>
           </tr>
           <tr>
               <td>@Html.LabelFor(m => m.Product.Quantity)</td>
               <td>@Html.TextBoxFor(m => m.Product.Quantity)</td>
           </tr>
           <tr>
               <td>&nbsp;</td>
               <td><input type="submit" value="save" /></td>
           </tr>
       </table>
   }
</body>
</html>
